<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Grizzly Beer - {{venue}}</title>
  </head>
  <body>
    <header>
      <h1>{{name}}</h1>
          </header>
    <h3>Address</h3>
    <p>{{address}}</p>

  </body>
</html>
