header {
  font-family: 'Rubik Mono One', sans-serif;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
}

body {
  text-align: center;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

img {
  opacity: 0.5;
  display: block;

/* Set rules to fill background */
	min-width: 100%;
	min-height: 100%;

/* Set up proportionate scaling */
	width: 100%;
	height: auto;

/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

/***** STACK ORDER - SET UP IMG BEHIND TEXT   ***/

	z-index: -1;
}
}
